html{

    height: 100%;

}

body{

    height: 100%;
    margin: 0px;

}#container{

    height: 100%;
    background-color: black;
    display: flex; 
    /*align-items: center;*/
    
}

#meioEsqueda{

    width: 35%;
    height:100%;  
    background-color: white;
    flex-direction: row;
}

#esquerdaTopo{

    width: 100%;
    height: 100%;
    background-color: black;
    display: flex; 
    flex-direction: column;
}

#meioDireita{

    width: 65%;
    height:100%;
   /* background-color: white;*/
    display: flex;
    flex-direction: column;
    
}

#direitaMeio{
    
    width: 35%;
    height:70%;
    background-color: black;


}