@import url("https://fonts.googleapis.com/css?family=Karla:weight@400;700&display=swap");

$font: "Karla", sans-serif;
$primary-color: #e21919;

body {
  font-family: $font;
  color: $primary-color;
}

h1 {
    color: green;
    text-align: right;
}
